.nav{
    display: flex;
    width: 100vw;
    height: 17vh;
    justify-content: center;
    justify-content: space-evenly;
    background: rgb(167, 4, 4);
}
.list{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.react{
    display: flex;
    width: 150px;
    height: 150px;
}

h2{
    color: white;
}